<!-- two file uploading buttons
responsiveness

-->
<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Translation Ally</title>
      <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
   </head>
   <body>
    
      <nav class="navbar navbar-expand-md bg-info navbar-light p-0">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
           <span class="navbar-toggler-icon"></span>
         </button>
         
         <div class="collapse navbar-collapse" id="collapsibleNavbar2">
           <ul class="navbar-nav">
             <li class="nav-item p-2">
               <a class="nav-link text-dark" href="#Home"><b>Home</b></a>
             </li>
             <li class="nav-item p-2">
               <a class="nav-link" href="#aboutus"><b>About us</b></a>
             </li>
             <li class="nav-item p-2">
              <a class="nav-link" href="#contactus"><b>Contact us</b></a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="" data-toggle="modal" data-target="#FAQ"><b>FAQ</b></a>
            </li>
            </nav>
            
             <br>
             
            
              <!--<label for="dest">Choose conversion language:</label> <select name="lang">
               
              dest_language = ('lang')-->
        
  <div class="container-fluid foot border border-secondary rounded border-width-thick " style="text-align:center; border-style: solid; border-bottom-width: 10px;">            
    <form method="post" enctype="multipart/form-data" style="text-align:centre">
      {% csrf_token %}
      <br><label for="src">Choose your source language:</label>
      <select name="src">     
      {% for key, value in lang.items %}
         <option value="{{key}}">{{value}}</option>
      {% endfor %}
      </select>
    
      &nbsp;<label for="dest">Choose your destination language:</label>
      <select name="dest">     
      {% for key, value in lang.items %}
         <option value="{{key}}">{{value}}</option>
      {% endfor %}
      </select>
      <br>
      <br>
      <input type="file" class="btn btn-outline-info" name="myfile" required>
      <button type="submit" class="btn btn-info">Upload</button>
    </form>
    <br><br>
    <a href = "/downloadfile"><button class="btn btn-info" >Download</button></a>
  </div>

    
  
   <!-- {% if uploaded_file_url %}
      <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}-->

    <br>
    <!--<div class="container-fluid bg-info foot">
    <div class="alert alert-info text-black bg-white" id="#footer">-->
      <!--<div class="row">
        <div class="p-4 text-dark" id="aboutus">
        <section id="about">
          <div class="ABOUT US" style="text-align:center">
            <h1>About Us</h1>
            <p class="lead">Our aim is to create a platform that helps in removing language barriers in business communication worldwide. Once a user uploads their file and selects the languages, 
              website generates a translated file for the user.</p>
          </div>
        </section>
      </div>
    </div>
    </div>-->
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#FAQ" role="button">Learn more</a>
    </p>
  </div>

<!--FAQ-->
<div class="modal fade bd-example-modal-lg" id="FAQ" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">FAQ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>How to use this website?</h6>
          <p>Upload Doc here.</p>
          <h6>If you want to contact us</h6>
          

        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
<!--<footer class="page-footer font-small  bg-info">

  
  <svg class="svg--source" width="0" height="0" aria-hidden="true">

    <symbol id="svg--twitter" viewbox="0 -7 15 30">
      
    </symbol>
  
    <symbol id="svg--google" viewbox="-13 -13 72 72">
      <path d="M48,22h-5v-5h-4v5h-5v4h5v5h4v-5h5 M16,21v6.24h8.72c-0.67,3.76-3.93,6.5-8.72,6.5c-5.28,0-9.57-4.47-9.57-9.75
  s4.29-9.74,9.57-9.74c2.38,0,4.51,0.82,6.19,2.42v0.01l4.51-4.51C23.93,9.59,20.32,8,16,8C7.16,8,0,15.16,0,24s7.16,16,16,16
  c9.24,0,15.36-6.5,15.36-15.64c0-1.17-0.11-2.29-0.31-3.36C31.05,21,16,21,16,21z" />
    </symbol>
  
    <symbol id="svg--facebook" viewbox="0 -7 16 30">
      <path d="M12 3.303h-2.285c-0.27 0-0.572 0.355-0.572 0.831v1.65h2.857v2.352h-2.857v7.064h-2.698v-7.063h-2.446v-2.353h2.446v-1.384c0-1.985 1.378-3.6 3.269-3.6h2.286v2.503z" />
    </symbol>

  
  </svg>
  
  <div class="wrapper">
  <div class="connect">
  
    <a href="" class="share twitter">
      <svg role="presentation" class="svg--icon">
        <use xlink:href="#svg--twitter" />
      </svg>
    </a>
  
    <a href="" rel="author" class="share google">
      <svg role="presentation" class="svg--icon">
        <use xlink:href="#svg--google" />
      </svg>
    </a>
  
    <a href="" rel="author" class="share facebook">
      <svg role="presentation" class="svg--icon">
        <use xlink:href="#svg--facebook" />
      </svg>
    </a>
  
  </div>
  </div>-->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">© 2022 Copyright:
    <a href="/" style="color:white"> Translation Ally.com</a>
  </div>
  <!-- Copyright -->


</footer>
<!-- Footer -->


   </body>
   
</html> 




